# Python venv
.venv/

# Python cache
__pycache__/
*.pyc

# Secrets
.env

# Outputs
validation_output*.xlsx
*.log

# debug and testing
test.py
test


# Excel files (inputs/outputs)
*.xlsx
*.xls
*.xlsm
*.csv

# MacOS system files
.DS_Store

